<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% include 'header.html' %}
<form method="POST">
    {% csrf_token %}
    <div align="center">
        {% if form.id > 0 %}
        <h1>Update User</h1>
        {% else %}
        <h1>Add User</h1>
        {% endif %}
        {% if form.error %}
        <h3><font color="red">{{ form.message }}</font></h3>
        {% else %}
        <h3><font color="green">{{ form.message }}</font></h3>
        {% endif %}
        <input type="hidden" name="id" value="{{ form.id }}">
        <table>
            <tr>
                <th>First Name:</th>
                <td><input type="text" name="firstName" value="{{ form.first_name }}"></td>
                <td style="position: fixed;"><font color="red">{{ form.input_error.first_name }}</font></td>
            </tr>
            <tr>
                <th>Last Name:</th>
                <td><input type="text" name="lastName" value="{{ form.last_name }}"></td>
                <td style="position: fixed;"><font color="red">{{ form.input_error.last_name }}</font></td>
            </tr>
            <tr>
                <th>Login ID:</th>
                <td><input type="text" name="loginId" value="{{ form.login_id }}"></td>
                <td style="position: fixed;"><font color="red">{{ form.input_error.login_id }}</font></td>
            </tr>
            <tr>
                <th>Password:</th>
                <td><input type="text" name="password" value="{{ form.password }}"></td>
                <td style="position: fixed;"><font color="red">{{ form.input_error.password }}</font></td>
            </tr>
            <tr>
                <th>DOB:</th>
                <td><input type="text" name="dob" value="{{ form.dob }}"></td>
                <td style="position: fixed;"><font color="red">{{ form.input_error.dob }}</font></td>
            </tr>
            <tr>
                <th>Address:</th>
                <td><input type="text" name="address" value="{{ form.address }}"></td>
                <td style="position: fixed;"><font color="red">{{ form.input_error.address }}</font></td>
            </tr>
            <tr>
                <th></th>
                <td>
                    {% if form.id > 0 %}
                    <input type="submit" value="update">
                    {% else %}
                    <input type="submit" value="save">
                    {% endif %}
                </td>
            </tr>
        </table>
    </div>
</form>
</body>
</html>