<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
</head>

<body>

{% if session.get('first_name') %}

<h3>Hi, {{ session.get('first_name') }}</h3>

<a href="/UserList/"><b>User List</b></a> <b>|</b>
<a href="/Trek/"><b>Add Trek</b></a> <b>|</b>
<a href="/TrekList/"><b>Trek List</b></a> <b>|</b>
<a href="/Booking/"><b>Add Booking</b></a> <b>|</b>
<a href="/BookingList/"><b>Booking List</b></a> <b>|</b>
<a href="/StaffAssignment/"><b>Add Staff Assignment</b></a> <b>|</b>
<a href="/StaffAssignmentList/"><b>Staff Assignment List</b></a> <b>|</b>
<a href="/logout/"><b>Logout</b></a>

{% else %}

<h3>Hi, Guest</h3>

<a href="/Welcome/"><b>Welcome</b></a> <b>|</b>
<a href="/Login/"><b>Login</b></a>

{% endif %}

<hr>

</body>
</html>