<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% load static %}
<table width="100%" border="0">
    <tr>
        <td width="90%">
            <a href="/ORS/Welcome"><b>Welcome</b></a> |
            {% if request.session.user.firstName == None %}
            <a href="/ORS/Login"><b>Login</b></a>
            {% else %}
            <a href="/ORS/Logout"><b>Logout</b></a>
            {% endif %}
        </td>
        <td rowspan="2">
            <h1 align="Right">
                <img src="{% static '/img/customLogo.jpg' %}" width="318" height="90">
            </h1>
        </td>
    </tr>
    <tr>
        <td>
            {% if request.session.user.firstName == None %}
            <h3>Hi, Guest</h3>
            {% else %}
            <h3>
                Hii, {{ request.session.user.firstName }}</h3>
            <a href="/ORS/User"><b>Add User</b></a> |
            <a href="/ORS/UserList"><b>User List</b></a>
            {% endif %}
        </td>
    </tr>
</table>
<hr>
</body>
</html>