<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% load static %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<marquee behavior="alternate" scrollamount="300" loop="1">
    <div align="center">
        <img src="{% static '/img/customLogo.jpg' %}" align="middle" width="318" height="127"
             border="0">
    </div>
</marquee>
<br>
<br>

<h1 align="center">
    <font size="10px" color="red"> <a href="/ORS/Login">Online
        Result System</a></font>
</h1>
</body>
</html>