<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="" method="post">
    {% include './Header.html' %}
    {% csrf_token %}
    <br> <br> <br> <br>
    <div align="center">
        <table>
            <h1 align="center" style="margin-bottom: -15; color: navy">Login</h1>
            <tr>
            </tr>
            <tr>
                <th align="left">Login ID :</th>
                <td align="center"><input type="text" name="loginId"></td>
            </tr>
            <tr>
                <th align="left">Password :</th>
                <td align="center"><input type="text" name="password"></td>
            </tr>

            <tr>
                <th></th>
                <td></td>
            </tr>
            <tr>
                <th></th>
                <td></td>
            </tr>

            <tr>
                <td></td>
                <td><input type="submit" name="operation" value="SignIn">
                    <input type="submit" name="operation" value="SignUp"></td>
            </tr>
        </table>
    </div>
    <br> <br> <br> <br> <br> <br> <br>
    <br> <br>
</form>
</body>
</html>