<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--<h3>Hi, Guest</h3>-->
<!--<h3>Hi, {{ firstName }}</h3>-->
<!--<a href="/ors/welcome/"><b>Welcome</b></a> |-->
<!--<a href="/ors/signin/"><b>Login</b></a>-->

<!--{% if firstName == None %}-->
<!--<h3>Hi, Guest</h3>-->
<!--<a href="/ors/welcome/"><b>Welcome</b></a> |-->
<!--<a href="/ors/signin/"><b>Login</b></a>-->
<!--{% else %}-->
<!--<h3>Hi, {{ firstName }}</h3>-->
<!--<a href="/ors/welcome/"><b>Add User</b></a> |-->
<!--<a href="/ors/welcome/"><b>User List</b></a> |-->
<!--<a href="/ors/welcome/"><b>Logout</b></a>-->
<!--{% endif %}-->

{% if request.session.firstName == None %}
<h3>Hi, Guest</h3>
<a href="/ors/welcome/"><b>Welcome</b></a> |
<a href="/ors/signin/"><b>Login</b></a>
{% else %}
<h3>Hi, {{ request.session.firstName }}</h3>
<a href="/ors/welcome/"><b>Add User</b></a> |
<a href="/ors/welcome/"><b>User List</b></a> |
<a href="/ors/testlist/"><b>Test List</b></a> |
<a href="/ors/logout/"><b>Logout</b></a>
{% endif %}
<hr>
</body>
</html>