<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% include "Header.html" %}
<form method="POST">
        {% csrf_token %}
    <div align="center">
        <h1>User Registration</h1>
        <table>
            <tr>
                <th>FirstName:</th>
                <td><input type="text" name="firstName"></td>
            </tr>
            <tr>
                <th>LastName:</th>
                <td><input type="text" name="lastName"></td>
            </tr>
            <tr>
                <th>LoginID:</th>
                <td><input type="text" name="loginId"></td>
            </tr>
            <tr>
                <th>Password:</th>
                <td><input type="text" name="password"></td>
            </tr>
            <tr>
                <th>DOB:</th>
                <td><input type="date" name="dob"></td>
            </tr>
            <tr>
                <th>Address:</th>
                <td><input type="text" name="address"></td>
            </tr>
            <tr>
                <th></th>
                <td><input type="submit" value="signUp"></td>
            </tr>
        </table>
    </div>
</form>
</body>
</html>