<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% include "Header.html" %}
<form method="POST">
    {% csrf_token %}
    <div align="center">
        {% if form.id > 0 %}
        <h1>Update User</h1>
        {% else %}
        <h1>Add User</h1>
        {% endif %}
        <table>
            <tr>
                <th>FirstName:</th>
                <td><input type="text" name="firstName" value="{{ form.firstName }}"></td>
            </tr>
            <tr>
                <th>LastName:</th>
                <td><input type="text" name="lastName" value="{{ form.lastName }}"></td>
            </tr>
            <tr>
                <th>Login ID:</th>
                <td><input type="text" name="loginId" value="{{ form.loginId }}"></td>
            </tr>
            <tr>
                <th>Password:</th>
                <td><input type="text" name="password" value="{{ form.password }}"></td>
            </tr>
            <tr>
                <th>DOB:</th>
                <td><input type="date" name="dob" value="{{ form.dob }}" style="width: 98%;"></td>
            </tr>
            <tr>
                <th>Address:</th>
                <td><input type="text" name="address" value="{{ form.address }}"></td>
            </tr>
            <tr>
                <th></th>
                {% if form.id > 0 %}
                <td><input type="submit" name="operation" value="update"></td>
                {% else %}
                <td><input type="submit" name="operation" value="save"></td>
                {% endif %}
            </tr>
        </table>
    </div>
</form>
</body>
</html>