<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% include 'header.html' %}
<form method="POST">
    {% csrf_token %}
    <div align="center">
        <h1 style="margin-bottom: -10px; color: navy;">
            {% if form.id > 0 %}
            Update Role
            {% else %}
            Add Role
            {% endif %}
        </h1>
        <div style="height: 30px;">
            {% if form.error %}
            <h3><font color="red">{{ form.message }}</font></h3>
            {% else %}
            <h3><font color="green">{{ form.message }}</font></h3>
            {% endif %}
        </div>
        <input type="hidden" name="id" value="{{ form.id }}">
        <table>
            <tr>
                <th>Name:</th>
                <td><input type="text" name="name" value="{{ form.name }}"></td>
                <td style="position: fixed;"><font color="red">{{ form.input_error.name }}</font></td>
            </tr>
            <tr>
                <th>Last Name:</th>
                <td><input type="text" name="description" value="{{ form.description }}"></td>
                <td style="position: fixed;"><font color="red">{{ form.input_error.description }}</font></td>
            </tr>
            <tr>
                <th></th>
                <td>
                    {% if form.id > 0 %}
                    <input type="submit" name="operation" value="update">
                    <input type="submit" name="operation" value="list">
                    {% else %}
                    <input type="submit" name="operation" value="save">
                    <input type="submit" name="operation" value="reset">
                    {% endif %}
                </td>
            </tr>
        </table>
    </div>
</form>
{% include 'footer.html' %}
</body>
</html>