<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% include "Header.html" %}
<div align="center">
    <h3>Marksheet List</h3>
</div>
<div align="center">
    <table width="100%" border="1">
        <tr>
            <th>Rollno</th>
            <th>Name</th>
            <th>Physics</th>
            <th>Chemistry</th>
            <th>Maths</th>
            <th>Actions</th>
        </tr>
        {%for l in list %}
        <tr>
            <td style="text-align:center">{{l.rollNo}}</td>
            <td style="text-align:center">{{l.name}}</td>
            <td style="text-align:center">{{l.physics}}</td>
            <td style="text-align:center">{{l.chemistry}}</td>
            <td style="text-align:center">{{l.maths}}</td>
            <td style="text-align:center">
                <a href="/ORS/edit/{{l.id}}">Edit</a>
                <a href="/ORS/delete/{{l.id}}">Delete</a>
            </td>
        </tr>
        {%endfor %}
    </table>
</div>
</body>
</html>