<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% include "Header.html" %}
<form method="POST">
    {% csrf_token %}
    <div align="center">
        <h1>Login</h1>
        <font color="red"><h3>{{message}}</h3></font>
        <table>
            <tr>
                <th>Login ID:</th>
                <td><input type="text" name="loginId"></td>
            </tr>
            <tr>
                <th>Password:</th>
                <td><input type="text" name="password"></td>
            </tr>
            <tr>
                <th></th>
                <td>
                    <input type="submit" value="signIn">
                    <button><a href="/ORS/register/">
                        signUp
                    </a></button>
                </td>
            </tr>
        </table>
    </div>
</form>
</body>
</html>