<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% include 'header.html' %}
<form>
    <div align="center">
        <h1>User Registration</h1>
        <table>
            <tr>
                <th>First Name:</th>
                <td><input type="text"></td>
            </tr>
            <tr>
                <th>Last Name:</th>
                <td><input type="text"></td>
            </tr>
            <tr>
                <th>Login ID:</th>
                <td><input type="text"></td>
            </tr>
            <tr>
                <th>Password:</th>
                <td><input type="text"></td>
            </tr>
            <tr>
                <th>DOB:</th>
                <td><input type="text"></td>
            </tr>
            <tr>
                <th>Address:</th>
                <td><input type="text"></td>
            </tr>
            <tr>
                <th></th>
                <td><input type="submit" value="signUp"></td>
            </tr>
        </table>
    </div>
</form>
</body>
</html>