<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
{% include 'header.html' %}
<form method="POST">
    {% csrf_token %}
    <div align="center">
        <h1>User List</h1>
    </div>
    <div align="center">
        <table>
            <tr>
                <th>First Name:</th>
                <td><input type="text" name="firstName" placeholder="enter first name here"></td>
                <td><input type="submit" name="operation" value="search"></td>
            </tr>
        </table>
    </div>
    <br>
    <table border="1" width="100%">
        <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Login ID</th>
            <th>Password</th>
            <th>DOB</th>
            <th>Address</th>
            <th>Actions</th>
        </tr>
        {% for l in form.list %}
        <tr align="center">
            <td>{{ form.index|add:forloop.counter }}</td>
            <td>{{ l.first_name }}</td>
            <td>{{ l.last_name }}</td>
            <td>{{ l.login_id }}</td>
            <td>{{ l.password }}</td>
            <td>{{ l.dob }}</td>
            <td>{{ l.address }}</td>
            <td><a href="/ors/save/{{l.id}}/"><b>edit</b></a> <b>|</b> <a href="/ors/delete/{{l.id}}/"><b>delete</b></a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <table style="width: 100%">
        <tr>
            <td style="width: 25%">
                <input type="submit" name="operation" value="previous" {% if form.has_previous %} disabled {% endif %}>
            </td>
            <td style="width: 75%"></td>
            <td>
                <input type="submit" name="operation" value="next" {% if form.has_next %} disabled {% endif %}>
            </td>
        </tr>
    </table>
    <input type="hidden" name="pageNo" value="{{form.page_no}}">
</form>
</body>
</html>