<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% include "header.html" %}
<form action="/ors/save/" method="POST">
    {% csrf_token %}
    <div align="center">
        {% if form.id > 0 %}
        <h1>Update Marksheet</h1>
        {% else %}
        <h1>Add Marksheet</h1>
        {% endif %}
        {{message}}
        <table>
            <tr>
                <td><input type="hidden" name="id" value="{{ form.id }}"></td>
            </tr>
            <tr>
                <th>Roll No. :</th>
                <td><input type="text" name="rollNo" value="{{ form.rollNo }}"></td>
            </tr>
            <tr>
                <th>Name:</th>
                <td><input type="text" name="name" value="{{ form.name }}"></td>
            </tr>
            <tr>
                <th>Physics:</th>
                <td><input type="text" name="physics" value="{{ form.physics }}"></td>
            </tr>
            <tr>
                <th>Chemistry:</th>
                <td><input type="text" name="chemistry" value="{{ form.chemistry }}"></td>
            </tr>
            <tr>
                <th>Maths:</th>
                <td><input type="text" name="maths" value="{{ form.maths }}"></td>
            </tr>
            <tr>
                <th></th>

                <td>
                    {% if form.id > 0 %}
                    <input type="submit" name="operation" value="update">
                    {% else %}
                    <input type="submit" name="operation" value="save">
                    {% endif %}
                    <input type="submit" name="operation" value="list">
                </td>
            </tr>
        </table>
    </div>
</form>
</body>
</html>